<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div style="padding: 5%">
        <h1 th:text=" '회원가입' "></h1>
        <form method="post" action="/signup" >
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" id="id" name="id" placeholder="id">
            </div>
            <div class="form-group">
                <label>PassWord</label>
                <input type="password" class="form-control" id="pass" name="pass" placeholder="password">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="name">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="email">
            </div>
            <div class="form-group">
                <label>Tel</label>
                <input type="text" class="form-control" id="tel" name="tel" placeholder="tel">
            </div>
            <div class="form-group">
                <label>Email</label>
                <select class="form-control" id="local" name="local">
                    <option>서울</option>
                    <option>경기</option>
                    <option>인천</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">제출</button>
        </form>
    </div>
</body>
</html>